* {margin: 0; padding: 0; border-width: 0;}

body
{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
    background-color: #444;
    color: #444;
}

a
{
    text-decoration: none;
    color: #675ede;
}

a:hover
{
}

#begin 
{
    display: block;
    text-align: center;
}

#status_update_form
{
    position: relative;
    padding-right: 5em;
    border-bottom: 12px solid #444;
    margin-bottom: 0.5em;
}

#status_text
{
    background-color: #fff;
    color: #444;
    border-width: 0;
    overflow: hidden;
    width: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
}

#chars_left
{
    position: absolute;
    right: 0;
    top: 0;
}

#status_update_submit
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5em;

    background-color: #fff;
    color: #675ede;
    font-size: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
}

.tweet
{
    margin: 0 0 0.5em 0;
    padding-left: 48px;
    opacity: 0.5;
    clear: both;
}

.tweet.unread
{
    opacity: 1;
}

.tweet .info
{
    float: left;
    width: 48px;
    margin-left: -48px;
    margin-bottom: 0.5em;
}

.tweet .info img
{
    display: block;
    width: 48px;
    height: 48px;
}

.tweet .body
{
    overflow-x: auto;
    background-color: #fff;
    padding-left: 0.5em;
}

.tweet:first-child .info, .tweet:first-child .body
{
}

.tweet_author
{
    font-weight: bold;
}

.tweet_text
{
}

#debug, #debug_form
{
    display: none;
}

#tweets_container
{
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    padding: 0.5em
}

#mark_as_read
{
}

#tweet_list
{
    list-style-type: none;
}
